<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-sm-8 offset-sm-1">
      <h3 class="text-warning text-center">
        <i class="fas fa-crow"></i><i class="fas fa-crow"></i>  <i class="fas fa-crow"></i><i class="fas fa-crow"></i>
        Saved Crows 
       <i class="fas fa-crow"></i><i class="fas fa-crow"></i>  <i class="fas fa-crow"></i><i class="fas fa-crow"></i>
       
      <div class="article-container">
      

      </div>
    </div>
    <div class="col-sm-2 ">
      <div>
        <p>

        </p>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<script src="../assets/javascript/saved.js"></script>
