/* font-family: 'Londrina Solid', cursive; */


body { 
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,0.035);
}
h1 {
  font-family: 'Londrina Solid', cursive;
  /* font-weight: 400; */
  /* font-size: 45px; */
}
.add-article, .delete-article, .show-note, .delete-note {
  cursor: pointer;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  /* width: 60%; */
  /* height: 700px; */
}
/* #notes { */
  /* float: right; */
  /* width: 80%; */
/* } */
textarea, input {
  display: block;
  width: 100%;
  /* background-color: lightblue; */
}
input {
  height: 36px;
  font-size: 24px;
}
