body{
  background-color: black;
  align-content: center;
  align-items: center;
}
.jumbotron{
  background-color: black;
  color: white;
  align-content: center;
  align-items: center;
}
textarea:focus{
  border: none;
  outline: none
}