<div class="container-fluid mt-3 ">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h3 class="text-warning text-center">
         
        Lemons <i class="far fa-lemon"></i><i class="far fa-lemon"></i><i class="far fa-lemon"></i>
      <a class=" btn btn-outline-warning m-1 scrape-new" id="scraper" href="/" > <strong>Fresh Scrape</strong> </a>
            <a class=" btn btn-outline-warning btn-sm  m-1" id="saved" href="/saved" > <strong>Saved Lemons</strong> </a>
      </h3>
      <div class="article-container">
        {{!-- <div class="card alert-info main">
          <div class="card-header">
          </div>
          <div class="card-body">
            <img src="" height="250px" alt="">
          </div>
        </div> --}}
      </div>
    </div>
    <div class="col-sm-2">
      <div>
        <p>

        </p>
      </div>
    </div>
  </div>
</div>

<script src="../assets/javascript/index.js"></script>